<div id="banniere">
    <div id="accueil">
        <img id="logo" src="../../assets/logo.png" alt="Logo du site Amazoff">
        <div class="welcome">
            <p>Bonjour Florian</p>
            <p style="font-weight: bold;">Des offres exclusives vous attendent !</p>
        </div>
    </div>
    <div>
        <div class="menu">
            <i class="fa fa-bars large-icon"></i>
            <i class="fa fa-bell large-icon"></i>
            <div class="user-info">
                <i class="fa fa-user-circle large-icon"></i>
                <label>Florian Potier</label>
            </div>
            <div>
            <i class="fa fa-search large-icon"></i>
            <input id="recherche" type="text">
        </div>
    </div>
</div>