/* npm install --save @fortawesome/fontawesome-free
pour les icônes
dans angular.json, rajouter à Styles:
"node_modules/@fortawesome/fontawesome-free/css/all.css" */


#banniere {
    background-color: #c08f69;
    display: flex;
    justify-content: space-between;
    min-width: 1135px;
    max-height: 86px;
}

#accueil {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 20px;
    max-height: 86px;
}

#logo{
    width: 75px;
    max-height: 86px;
}

.welcome{
    max-height: 86px;
    min-width: 292px;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px;
    width: 729px;
    max-height: 86px;   
}

.large-icon {
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD700;
    background-color: black;
    margin-left: 5px;
    margin-right: 5px;  
}

.user-info {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.user-info label {
    padding-right: 15px;
    min-width: 63px;
    max-height: 50px;
    color: #FFD700;
}
.nav-search {
    display: flex;
    align-items: center;
    position: relative; /* Positionnement relatif pour le conteneur */
}

#recherche {
    height: 50px;
    width: 300px;
    min-width: 200px;
    border-radius: 25px; /* Bordures arrondies */
    border: 2px solid #FFD700; /* Bordure dorée */
    padding-left: 10px; /* Espace à gauche pour le texte */
    padding-right: 50px; /* Espace pour l'icône à droite */
    font-size: 16px;
    background-color: #fff; /* Fond blanc */
    color: #333; /* Couleur du texte */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transition pour les effets */
}

#recherche:focus {
    border-color: #c08f69; /* Changement de couleur de bordure au focus */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au focus */
    outline: none; /* Supprimer le contour par défaut */
}

.fa-search {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Icône ronde */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD700;
    background-color: black;
    position: absolute; /* Positionnement absolu */
    right: 10px; /* Position à droite de la barre de recherche */
    top: 50%;
    transform: translateY(-50%); /* Centrage vertical */
    z-index: 1; /* Assure que l'icône est au-dessus de la barre de recherche */
}
.menu {
    position: relative;
}
