<div id="banniere">
    <div id="accueil">
        <p>Bonjour Florian</p>
        <p style="font-weight: bold;">Des offres exclusives vous attendent !</p>
    </div>
    <div>
        <div class="menu">
            <i class="fa fa-bars large-icon"></i>
            <i class="fa fa-search large-icon"></i>
            <i class="fa fa-bell large-icon"></i>
            <div class="user-info">
                <i class="fa fa-user-circle large-icon"></i>
                <label>Florian Potier</label>
            </div>
        </div>
    </div>
</div>