/* npm install --save @fortawesome/fontawesome-free
pour les icônes
dans angular.json, rajouter à Styles:
"node_modules/@fortawesome/fontawesome-free/css/all.css" */


#banniere {
    background-color: #c08f69;
    left: 250px; /* Commence après la sidebar */
    display: flex;
    justify-content: space-between;
}

#accueil {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 20px;
}

#logo{
    width: 75px;
}

.welcome{
    padding-left: 20px;
    padding-right: 20px;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px;
    width: 700px;
    
}

.large-icon {
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD700;
    background-color: black;
    margin-left: 5px;
    margin-right: 5px;  
}

.user-info {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.user-info label {
    padding-right: 15px;

    color: #FFD700;
}

#recherche {
    height: 50px;
    width: 300px;
    min-width: 200px;
    border-radius: 25px; /* Bordures arrondies */
    border: 2px solid #FFD700; /* Bordure dorée */
    padding-left: 40px; /* Espace pour l'icône */
    font-size: 16px;
    background-color: #fff; /* Fond blanc */
    color: #333; /* Couleur du texte */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transition pour les effets */
}

#recherche:focus {
    border-color: #c08f69; /* Changement de couleur de bordure au focus */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au focus */
    outline: none; /* Supprimer le contour par défaut */
}

.menu {
    position: relative;
}

.fa-search {
    position: absolute;
    left: 350px; /* Ajustez cette valeur selon la position souhaitée */
    top: 3px;
    pointer-events: none; /* Empêche l'icône de capturer les clics */
}