node_modules/
environnements/conf.d/default.conf
backend/.env
backend/node_modules/
backend/src/authentification/node_modules/
backend/src/authentification/.env
backend/src/role/node_modules/
backend/src/role/.env