__pycache__
*__pycache__
**/__pycache__
**/assets
cache
*cache
**/cache
venv
.env
*.env
**/.env
**/node_modules/
*package-lock.json
**/package-lock.json
**/default_1.conf
**/default_2.conf
**/cached_articles.json
**/failed_articles_requests.log
**/failed_avis_request.log
**/failed_cart_requests.log