<div class="article_component">
    <div class="header_article_component">
    <label class="prix">20.00€</label>
    <button class="options-button">
        <i class="fas fa-ellipsis-v"></i>
    </button></div>
    <div class="picture">
        <img class="img" src="./assets/teeshirt_orange.png" alt="Un teeshirt orange">
    </div>
    <div class="footer_article_component">
        <label class="title">Tee-Shirt orange</label>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </div>  
    </div>
</div>