<div class="article_component" [routerLink]="['/article', article.id]">
    <div class="header_article_component">
        <label class="prix">{{ article.prix }}€</label>
        <button class="options-button">
            <i class="fas fa-ellipsis-v"></i>
        </button>
    </div>
    <div class="picture">
        <img class="img" src="./assets/{{ article.image }}" alt="">
    </div>
    <div class="footer_article_component">
        <label class="title">{{ article.name }}</label>
        <div class="stars">
        <i *ngFor="let star of stars" [ngClass]="star"></i>
        </div>
    </div>
</div>
