<!-- <!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>
    <link rel="stylesheet" href="./login.component.css">
</head>

<body>
    <header>
        <div class="brand">
            <h1>AmazOff</h1>
            <p>Moins de clics, plus de rires !</p>
        </div>
    </header>

    <div class="logo-container">
        <img src="logo.png" alt="Logo" class="logo-bag">
    </div>
<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group pill">
            <span class="icon">
                <i class="fas fa-user"></i>
            </span>
            <input
                type="text"
                formControlName="login"
                placeholder="Identifiant"
                required
            />
        </div>
        <div class="form-group pill">
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
            <input
                type="password"
                formControlName="password"
                placeholder="Mot de passe"
                required
            />
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Connexion</button>

        <div class="footer-links">
            <a routerLink="/register">Créer un compte</a>
            <a href="#">Besoin d'aide ?</a>
        </div>
    </form>
</div>

</body>

</html> -->
<header class="header">
    <div class="brand">
        <h1>AmazOff</h1>
        <p>Moins de clics, plus de rires !</p>
    </div>
</header>

<div class="logo-container">
    <img src="assets/LogoAmazoff.png" alt="Logo AmazOff" class="logo-bag" (click)="retour()">
</div>

<div class="login-container">
    <div class="controls">
        <div class="combo-box">
            <button (click)="formulaireLogin()" [class.active]="typeForm === 'login'">Connexion</button>
            <button (click)="formulaireRegister()" [class.active]="typeForm === 'register'">Inscription</button>
        </div>
    </div>

    <div class="view-container">
        <app-formulaire *ngIf="typeForm !== ''" [data]="typeForm"></app-formulaire>
    </div>

    <div class="social-login">
        <h2>Ou connectez-vous avec</h2>
        <div class="social-buttons">
            <button (click)="connexionGoogle()" class="socialConnexion">
                <img src="LogoGoogle.ico" alt="Connexion Google" />
            </button>
        </div>
    </div>
</div>

