<div class="notif-preview">
  <div *ngIf="notifications.length === 0" class="notif-empty">Aucune notification.</div>
  <div *ngFor="let notification of notifications; let i = index" class="notif-preview-item">
    <div class="marquee-container">
      <span class="marquee-text">{{ notification.title }}</span>
    </div>
    <span class="notif-date">{{ notification.createdAt | date: 'dd/MM/yyyy HH:mm' }}</span>
    <button class="notif-close-btn" (click)="removeNotification(i)">✖</button>
  </div>

  <button class="supprimer-toutes-notifications" (click)="removeAllNotification()">Supprimer toutes les notifications</button>
</div>