<app-topbar></app-topbar>
<form>
    <fieldset>
        <legend>Ajouter un Article au Magasin</legend>

        <div class="nameEtImage">
            <div class="form-group">
                <label for="article-name">Nom de l'article:</label>
                <input type="text" id="article-name" class="form-control">
            </div>
            <div class="form-group">
                <label for="article-image">Ajouter une image:</label>
                <input type="file" id="article-image" class="form-control" (change)="onFileChange($event)">
                <img id="image-preview" src="" alt="Image Preview" style="display:none; max-width: 100px; margin-top: 10px;">
            </div>
        </div>

        <div class="form-alone">
            <label for="article-description">Description de l'article:</label>
            <input type="text" id="article-description" class="form-control">

        </div>

        <div class="form-alone">
            <label for="article-quantity">Quantité:</label>
            <input type="number" id="article-quantity" class="form-control">
        </div>

        <div class="reductionEtDescription">
            <div class="form-group">
                <label for="article-price">Prix:</label>
                <input type="number" id="article-price" class="form-control">

            </div>
            <div class="form-group">
                <label for="article-reduction">Réduction:</label>
                <input type="number" id="article-reduction" class="form-control">
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Ajouter l'Article</button>
            <button type="reset" class="btn btn-secondary">Annuler</button>
        </div>
    </fieldset>
</form>