<app-topbar></app-topbar>
<div class="présentation_article" *ngIf="article">
    <div class="article-image-container" *ngIf="article">
        <img [src]="'./assets/' + (article.image || 'default.jpg')" alt="{{ article.name || 'Article' }}"
            class="article-image">
        <div *ngIf="article.reduction > 0" class="discount-badge">-{{ article.reduction }}%</div>
    </div>
    <div class="infos">
        <label class="nom_article">{{ article.name }}</label>
        <div class="stars">
            <i *ngFor="let star of stars" [ngClass]="star"></i>
        </div>
        <hr>
        <div class="tarification">
            <label>{{ article.prix }}€</label>
            <label>Réduction: {{ article.reduction }} %</label>
            <label>Description: <br>{{ article.description }}</label>
        </div>
    </div>

    <div *ngIf="!article" class="loading">
        <i class="fas fa-spinner fa-spin"></i> Chargement en cours...
    </div>
    <div>
        <div class="achat">
            <label *ngIf="article.stock > 0" class="prix-initial ">{{ article.prix }}€</label>
            <span class="prix-reduit">
                {{ article.prix * (1 - article.reduction/100) | number:'1.2-2' }}€
            </span>

            <label *ngIf="article.stock > 0"> Livraison le: {{ article.livraison }} </label>
            <div *ngIf="article.stock > 0; else elseBlock">
                <div class="disponibilite">
                    <i class="fas fa-check-circle disponible-icon"></i>
                    <label>En stock</label>
                </div>
                <div class="quantite-select">
                    <label>Quantité:</label>
                    <select [(ngModel)]="selectedQuantity" class="quantite-dropdown">
                        <option *ngFor="let stock of stocks" [value]="stock">
                            {{ stock }}
                        </option>
                    </select>
                </div>

                <div id="bouton">
                    <button id="ajouter" (click)="addArticleToCart(article.id)">Ajouter au panier</button>
                    <button id="acheter">Acheter cet article</button>
                </div>
            </div>
            <ng-template #elseBlock>
                <div class="disponibilite">
                    <i class="fas fa-times-circle indisponible-icon"></i>
                    <label style="color: red;">Rupture de stock</label>
                    <label>Disponible Prochainement</label>
                </div>
            </ng-template>
        </div>
        <div class="rate">
            <button class="boutton_rate" (click)="ratingModal.openModal(article.id)">Évaluer ce produit</button>
        </div>
    </div>
</div>
<div class="bloc_commentaires">
  <div *ngIf="article?.avis">
    <div *ngFor="let commentaire of avis">
        <!-- ignore les commentaires vides -->
      <ng-container *ngIf="commentaire.comment && commentaire.comment.trim() !== ''">
        <div>
          <div class="stars">
            <i *ngFor="let star of articleService.starsArray(commentaire.stars)" [ngClass]="star"></i>
            <span class="username">
              {{ commentaire.fname || 'Utilisateur anonyme' }} {{ commentaire.name }} le
              {{ commentaire.date_publication }}
            </span>
          </div>
          <p>{{ commentaire.comment }}</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>



<!-- Modale d'évaluation -->
<app-article-rating-modal [articleId]="article?.id" #ratingModal *ngIf="article">
</app-article-rating-modal>