<app-topbar></app-topbar>
<div class="présentation_article">
    <img class="img" src="./assets/{{ article.image }}" alt="{{ article.name }}">
    <div class="infos">
        <label class="nom_article">{{ article.name }}</label>
        <div class="stars">
            <i *ngFor="let star of stars" [ngClass]="star"></i>
        </div>
        <hr>
        <div class="tarification">
            <label>{{ article.prix }}€</label>
            <label>Réduction: {{ article.reduction }} %</label>
            <label>Description: <br>{{ article.description }}</label>
        </div>
    </div>

    <div class="achat">
        <label *ngIf="article.stock > 0">{{ article.prix }}€</label>
        <label *ngIf="article.stock > 0"> Livraison le: {{ article.livraison }} </label>
        <div *ngIf="article.stock > 0; else elseBlock">
           <div class="quantity">
               <label>En stock</label>
               <label>Quantité:</label>
               <select [(ngModel)]="selectedQuantity">
                   <option *ngFor="let stock of stocks" [value]="stock">
                       {{ stock }}
                   </option>
               </select>

           </div>
        </div>
        <ng-template #elseBlock>
            <div class="quantity">
            <label style="color: red;">Rupture de stock</label>
            <label>Disponible Prochainement</label>
        </div>
        </ng-template>

        <!-- <div id="quantity" *ngIf="article.stock > 0; else cas"> -->

        <div id="bouton">
            <button id="ajouter" (click)="addArticleToCart(article.id)">Ajouter au panier</button>
            <button id="acheter">Acheter cet article</button>
        </div>
    </div>
</div>