/* You can add global styles to this file, and also import other style files */
.liste_articles {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: flex-start; 
    align-items: flex-start;
}

/* Couleur des étoiles */
.stars {
    display: flex;
    justify-content: center;
    color: #f39c12; 
}